body {
    font-family: Arial, sans-serif;
    background-image: url('https://imagedelivery.net/A5gbiev6F8AaBvp6M146Kw/c52cd054-2a9a-4141-00b8-ff2be8864d00/w=1440');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(35, 39, 42, 0.9);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    width: 90%;
    max-width: 1200px;
    overflow-y: auto; /* Allows scrolling if content overflows */
}

h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color: #7289da;
}

h2 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #ffffff;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
}

.input-group {
    flex: 1;
    margin-right: 15px;
    margin-bottom: 15px;
}

.input-group:last-child {
    margin-right: 0;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="color"],
input[type="file"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #2c2f33;
    color: #ffffff;
}

textarea {
    height: 80px;
    resize: none;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #7289da;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #5a6ebc;
}

input[type="file"] {
    border: 1px solid #ccc;
    padding: 5px;
    background-color: #2c2f33;
    color: #ffffff;
}
